.lego-news-container {
  text-align: center;
}

.lego-news-title {
  margin-top: 40px;
}

.news-article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}

.article-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.article-content {
  flex: 1;
  text-align: left;
}

@media (max-width: 768px) {
  .article-image img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .article-content {
    text-align: center;
  }
  .news-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
  }
}
